.phoenix-neumorphism-textarea-warpper{
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    .phoenix-neumorphism-textarea{
        width: 100%;
        height: 100%;
        background-color: transparent;

    }
}