@import '../../style/index.scss';
.phoenix-neumorphism-container{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}