.margin-left {
    margin-left: 0.5rem;
}
.margin-right {
    margin-right: 0.5rem;
}

.padding-left {
    padding-left: 0.5rem;
}

.padding-right {
    padding-right: 0.5rem;
}

.border-radius-left{
    border-top-left-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);
}
.border-radius-right{
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}