:root{
    // --light-color-main:#F0F0F3;//#f3f0f1, #f0f2f5, #F0F0F3
    // --color-primary: #1D1C1A;
    --background-color:#F0F0F3;
    --color-primary: #1D1C1A;
    --box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.8), 3px 3px 5px rgba(0, 0, 0, 0.2);
    --box-shadow-inset: inset -3px -3px 5px rgba(255, 255, 255, 0.8), inset 3px 3px 5px rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: 'NunitoSans';
    src: url(./fonts/Nunito_Sans/NunitoSans-Regular.ttf) ;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NunitoSans, sans-serif;
}